/*link*/
a {
    color:#08c;
    /*color:#08c;*/
}

/*hoover link*/
a:hover, a:focus {
    color:#005580;
    /*color:#005580;*/
}

/*navbar*/
.navbar-inner {
    background-color:#036;
    border:6px solid #00aeef;
    /*background-color:#036;
    border:6px solid #00aeef;*/
}
/*navbar clicked*/
.navbar .nav>.active>a,.navbar .nav>.active>a:hover,.navbar .nav>.active>a:focus{
    background-color:#00aeef;
    /*background-color:#00aeef;*/
}
/*navbar about*/
.navbar .nav li.dropdown.open>.dropdown-toggle,.navbar .nav li.dropdown.active>.dropdown-toggle,.navbar .nav li.dropdown.open.active>.dropdown-toggle{
    background-color:#00aeef;
    /*background-color:#00aeef;*/
}

/*navbar hoover*/
.navbar .nav>li>a:focus,.navbar .nav>li>a:hover{
    color:#FFEA00;
    /*color:#FFEA00;*/
}

.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-submenu:hover>a,.dropdown-submenu:focus>a{
  background-color:#0081c2;
  background-image:-moz-linear-gradient(top,#08c,#0077b3);
  background-image:-webkit-gradient(linear,0 0,0 100%,from(#08c),to(#0077b3));
  background-image:-webkit-linear-gradient(top,#08c,#0077b3);background-image:-o-linear-gradient(top,#08c,#0077b3);
  background-image:linear-gradient(to bottom,#08c,#0077b3);background-repeat:repeat-x;
  /*background-color:#0081c2;
  background-image:-moz-linear-gradient(top,#08c,#0077b3);
  background-image:-webkit-gradient(linear,0 0,0 100%,from(#08c),to(#0077b3));
  background-image:-webkit-linear-gradient(top,#08c,#0077b3);background-image:-o-linear-gradient(top,#08c,#0077b3);
  background-image:linear-gradient(to bottom,#08c,#0077b3);background-repeat:repeat-x;*/

}

/*caret*/
/*
.nav .dropdown-toggle .caret{
    border-top-color:#08c;
    border-bottom-color:#08c;
}
.nav .dropdown-toggle:hover .caret,.nav .dropdown-toggle:focus .caret{
    border-top-color:#005580;
    border-bottom-color:#005580;
}*/

/*footer*/
.footer {
    background-color:#003366;
    /*background-color:#003366;*/
}
