/* =========================================================
                        Custom Styling
   ========================================================= */

.carousel {
    margin-top: 10px;
}

.carousel .carousel-control {
    opacity: 0; 
}

.carousel:hover .carousel-control {
    opacity: .7; 
}

.event-info {
    font-size: 15px;
    font-weight: bold;
}

.keyclub-logo-container .keyclub-banner-container {
    text-align: center;
}

.keyclub-logo {
    padding: 15px 0px;
}

.keyclub-banner {
    margin: 20px 0px;
}

.useful-links p {
    text-align: center;
}

#points-alt {
    text-align: center;
}
