.navbar {
    font-family:Open Sans;
}
.keyclub-navbar-logo {
    width: 25px;
    height: 25px;
    margin: -11px 0px -5px;
}
@media screen and (min-width: 301px) {
    .navbar .logo-text-small {
        display: none;
    }
}
@media screen and (max-width: 300px) {
    .navbar .logo-text {
        display: none;
    }
}
.footer {
    margin-top: 15px;
    margin-bottom: 0;
    background-color: #003366;
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #003366 10%);
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #003366 10%);
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #003366 10%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(.1, #003366));
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #003366 10%);
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #003366 10%);
}
.footer div {
    padding: 10px;
    color: #fff;
}
.footer-fixed {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}
.event-info {
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 10px;
}
.event-info td {
    vertical-align: top;
}
.event-more {
    margin: -3px 0 2px;
}
.event-preview > a,
.event-preview p a {
-ms-word-break: break-all;
    word-break: break-all;
}
.kc-header {
    margin: 20px 0px;
}
.kc-divider {
    width: 100%;
}
@media screen and (max-width: 767px) {
    .kc-header h1 {
        text-align: center;
    }
}
#newsletter {
    width: 100%;
    height: 500px;
}
iframe {
    margin: 0;
    border: 0;
}

