---
layout: default
title: Stuyvesant High School Key Club 
carousel:
    - img: /img/carousel/elections-2013.jpg
      caption-header: Meet our New Committee Heads
      caption-body: Find out who will be leading the committees for the upcoming service year!
      read-more-link: /about/committees/
    - img: /img/carousel/elections.jpg
      caption-header: Election results for the 2014-2015 board!
      caption-body: Find out who will be part of the next board for the upcoming service year!
      read-more-link: /news/election-results-2014/

redirect_from:
    - /test/
---
{% assign show = 4 %}
{% assign show = 4 %}
<style>
.carousel {margin-top:15px;}
.carousel .btn {margin-top:-2px; vertical-align:top;}
.carousel .carousel-control {opacity:0;}
.carousel:hover .carousel-control {opacity:.7;}
#events-header {padding-bottom:10px;}
.keyclub-logo {padding:15px 0px; max-width:85%;} 
</style>
{% comment %}
{% for event in site.posts reversed limit: show %}
    {% if event.content contains "<!-- event-css -->" %}
        {{ event.content | split: "<!-- event-css -->" | first }}
    {% endif %}
{% endfor %}
{% endcomment %}
<!-- css -->
<div class="container">
    <div id="myCarousel" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">
            {% for item in page.carousel %}
                <div class="{% if forloop.first %}active {% endif %}item">
                    <img src="{{ item.img }}" alt="{{ item.caption-header }}">
                    {% if item.caption-header or item.caption-body %}
                    <div class="carousel-caption">
                        <h4>{{ item.caption-header }}</h4>
                        <p>{{ item.caption-body }}
                        {% if item.read-more-link %}<a href="{{ item.read-more-link }}" class="btn btn-mini">Read more <i class="icon-chevron-right"></i></a>{% endif %}</p>
                    </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
    <div class="row">
        <div class="span9">
            <h1 id="events-header">Upcoming Events:</h1>
            {% if show == 0 %}
            <div class="event-preview">
                <div class="event-info" style="margin-top:30px;color:#46a546;">
                    <p>
                        Sorry, we currently don't have any events for you :(<br>
                        However, this doesn't mean you should stop volunteering!
                    </p>
                    <p>
                        Check back later for future events!
                        We will keep you updated! :)
                    </p>
                </div>
            </div>
            <hr>
            {% else %}
            {% for event in site.posts reversed limit: show %}
            <div class="event-preview">
                <h3><a href="{{ event.url }}">&raquo; {{ event.title }}</a></h3>
                <div class="event-info">
                    <table class="clearfix">
                        <tbody><tr>
                        {% if event.dates %}
                            <td>Dates:&nbsp;</td>
                            <td>
                            {% for date in event.dates %}
                                {{ date }}<br>
                            {% endfor %}
                            </td>
                        {% else %}
                            <td>Date:&nbsp;</td>
                            <td>{{ event.date | date: "%a, %B %-d, %Y"}}{% if event.time %} ({{ event.time }}){% endif %}</td>
                        {% endif %}
                        </tr></tbody>
                    </table>
                    <table class="clearfix">
                        <tbody><tr>
                        {% if event.locations %}
                            <td>Locations:&nbsp;</td>
                            <td>
                            {% for location in event.locations %}
                                {{ location }}<br>
                            {% endfor %}
                            </td>
                        {% else %}
                            <td>Location:&nbsp;</td>
                            <td>{{ event.location }}</td>
                        {% endif %}
                        </tr></tbody>
                    </table>
                </div>
                {{ event.content | split: "<!-- event-css -->" | last | split: "<!-- event-scripts -->" | first | split: "<!-- more -->" | first }}
                {% if event.content contains "<!-- more -->" %}
                <p class="text-center event-more"><a href="{{ event.url }}">More information on this event &raquo;</a></p>
                {% endif %}
                {% if event.link %}
                <a href="{{ event.link }}"><span class="event-info">Sign up for this event!</span></a>
                {% endif %}
            </div>
            <hr>
            {% endfor %}
            {% endif %}
            <h4><a href="/events/">All Events &raquo;</a></h4>
        </div>
        <div class="span3">
            <h2>Key Club</h2>
            <div class="keyclub-logo-container text-center">
                <img class="keyclub-logo" src="/img/logos/keyclub-logo.png" alt="Key Club International">
            </div>
            <div class="keyclub-info">
                <p>Stuyvesant Key Club is a service organization dedicated to helping both our school and community.</p>
                <p class="text-right"><a href="/about/">Learn more &raquo;</a></p>
            </div>
            <div class="useful-links">
                <h4>Useful Links</h4>
                <ul>
                    <li><a href="http://nydkc-11.wix.com/keyclub">Division 11 Key Club</a>
                    <li><a href="http://www.nydkc.org">New York District Key Club</a></li>
                    <li><a href="http://www.keyclub.org/home.aspx">Key Club International</a></li>
                    <li><a href="http://sites.kiwanis.org/Kiwanis/en/Alumni/Home/AlumniReconnect.aspx">Key Club Alumni</a></li>
                    <li><a href="http://www.circlek.org/home.aspx">Circle K International</a></li>
                    <li><a href="http://www.kiwanis.org">Kiwanis International</a></li>
                </ul>
                <h4>Service Partners</h4>
                <ul>
                    <li><a href="http://www.unicef.org">UNICEF</a></li>
                    <li><a href="http://childrensmiraclenetworkhospitals.org">Children's Miracle Network</a></li>
                    <li><a href="http://marchofdimesyouth.com">March of Dimes</a></li>
                    <li><a href="http://sites.kiwanis.org/Kiwanis/en/theELIMINATEproject/home.aspx">The Eliminate Project</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- scripts -->
<script>
$(document).ready(function() {
  $('.carousel').carousel({
    interval: 6000
  });
});
</script>
{% comment %}
{% for event in site.posts reversed limit: show %}
    {% if event.content contains "<!-- event-scripts -->" %}
        {{ event.content | split: "<!-- event-scripts -->" | last }}
    {% endif %}
{% endfor %}
{% endcomment %}
