---
layout: page
title: Gallery
---
<style>
.photos {
  display:none;
  float: left;
}
.photos p{
  margin-top: 10px;
  text-align: center;
}
.thumb {
  max-height: 375px;
  max-width: 375px;
}
.explode {
  padding-bottom: 50px;
  height: 240px;
  width: 220px;
  overflow: hidden;
  display: inline-block;
}
.crop {
  height: 200px;
  width: 200px;
  overflow: hidden;
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
}
.explode:hover .crop {
  transform: scale(1.15);
}
.carousel-inner img {
  height: 400px;
}
hr {
  border-color: #036;
}
.creds {
  font-size: 16px;
  color: #ccb781;
}
.source {
  display: none;
}
</style>
<!-- css -->
<link href="../css/lightbox.css" rel="stylesheet">
<!-- scripts -->
<script src="lightbox.js"></script>
<script>
function toggleDiv(divId) {
    $("#"+divId).toggle();
    $("#"+divId+" a").each(function(){
      $(this).attr("href",$(this).attr("wait"));
    });
    $("#"+divId+" img").each(function(){
      $(this).attr("src",$(this).attr("wait"));
    });
}
</script>
<script>
    lightbox.option({
      'albumLabel': $(this).attr("alt");
    })
</script>

<body>
  <!--
  This page wouldn't be possible without Lokesh Dhakar's Lightbox2

  Creator: Lokesh Dhakar
  Find more about him at http://lokeshdhakar.com/ or about Lightbox at http://lokeshdhakar.com/projects/lightbox2/

  Lightbox2 is licensed under The MIT License.


  The MIT License (MIT)

  Copyright (c) 2015 Lokesh Dhakar

  Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
  -->

<div class="container">
  <h3>Highlights</h3>
  <div id="myCarousel" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
          {% for item in site.data.gallery.highlights %}
              <div class="{% if forloop.first %}active {% endif %}item">
                  <img src="https://drive.google.com/uc?id={{ item.img | split: '/file/d/' | last | split: '/' | first }}" height="100">
                  <div class="carousel-caption">
                      <h4 style="text-align:center">{{ item.event }}</h4>
                  </div>
              </div>
          {% endfor %}
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>

  <hr>

  <h1><a href="javascript:toggleDiv('2016')">2016</a></h1>
  <div id="2016">

	  <h2><a href="javascript:toggleDiv('jun16')">June</a></h2>
	    <div class="photos" id="jun16">
	      {% for item in site.data.gallery.jun16 %}
	        <div class="explode">
	          <div class="crop">
	            <a href="#" wait="https://drive.google.com/uc?id={{ item.url | split: '/file/d/' | last | split: '/' | first }}" data-lightbox="jun16" data-title="{{ item.caption }} {{ item.date }} {% if item.credit %} <br><span class='creds'>Credits to {{ item.credit }}</span>{% endif %}">
	              <img class="thumb" src="#" wait="https://drive.google.com/uc?id={{ item.url | split: '/file/d/' | last | split: '/' | first }}" alt="{{ item.caption }}">
	            </a>
	          </div>
	          <p>{{ item.caption }}<br>{{ item.date }}</p>
	        </div>
	      {% endfor %}
	    </div>

	  <br>

	  <h2><a href="javascript:toggleDiv('jul16')">July</a></h2>
	    <div class="photos" id="jul16">
	      {% for item in site.data.gallery.jul16 %}
	        <div class="explode">
	          <div class="crop">
	            <a href="#" wait="https://drive.google.com/uc?id={{ item.url | split: '/file/d/' | last | split: '/' | first }}" data-lightbox="jul16" data-title="{{ item.caption }} {{ item.date }} {% if item.credit %} <br><span class='creds'>Credits to {{ item.credit }}</span>{% endif %}">
	              <img class="thumb" src="#" wait="https://drive.google.com/uc?id={{ item.url | split: '/file/d/' | last | split: '/' | first }}" alt="{{ item.caption }}">
	            </a>
	          </div>
	          <p>{{ item.caption }}<br>{{ item.date }}</p>
	        </div>
	      {% endfor %}
	    </div>

	    <br>

	  <h2><a href="javascript:toggleDiv('aug16')">August</a></h2>
	    <div class="photos" id="aug16">
	      {% for item in site.data.gallery.aug16 %}
	        <div class="explode">
	          <div class="crop">
	            <a href="#" wait="https://drive.google.com/uc?id={{ item.url | split: '/file/d/' | last | split: '/' | first }}" data-lightbox="aug16" data-title="{{ item.caption }} {{ item.date }} {% if item.credit %} <br><span class='creds'>Credits to {{ item.credit }}</span>{% endif %}">
	              <img class="thumb" src="#" wait="https://drive.google.com/uc?id={{ item.url | split: '/file/d/' | last | split: '/' | first }}" alt="{{ item.caption }}">
	            </a>
	          </div>
	          <p>{{ item.caption }}<br>{{ item.date }}</p>
	        </div>
	      {% endfor %}
	    </div>

	    <br>

	  <h2><a href="javascript:toggleDiv('sep16')">September</a></h2>
	    <div class="photos" id="sep16">
	      {% for item in site.data.gallery.sep16 %}
	        <div class="explode">
	          <div class="crop">
	            <a href="#" wait="https://drive.google.com/uc?id={{ item.url | split: '/file/d/' | last | split: '/' | first }}" data-lightbox="sep16" data-title="{{ item.caption }} {{ item.date }} {% if item.credit %} <br><span class='creds'>Credits to {{ item.credit }}</span>{% endif %}">
	              <img class="thumb" src="#" wait="https://drive.google.com/uc?id={{ item.url | split: '/file/d/' | last | split: '/' | first }}" alt="{{ item.caption }}">
	            </a>
	          </div>
	          <p>{{ item.caption }}<br>{{ item.date }}</p>
	        </div>
	      {% endfor %}
	    </div>

	    <br>

	  <h2><a href="javascript:toggleDiv('oct16')">October</a></h2>
	    <div class="photos" id="oct16">
	      {% for item in site.data.gallery.oct16 %}
	        <div class="explode">
	          <div class="crop">
	            <a href="#" wait="https://drive.google.com/uc?id={{ item.url | split: '/file/d/' | last | split: '/' | first }}" data-lightbox="oct16" data-title="{{ item.caption }} {{ item.date }} {% if item.credit %} <br><span class='creds'>Credits to {{ item.credit }}</span>{% endif %}">
	              <img class="thumb" src="#" wait="https://drive.google.com/uc?id={{ item.url | split: '/file/d/' | last | split: '/' | first }}" alt="{{ item.caption }}">
	            </a>
	          </div>
	          <p>{{ item.caption }}<br>{{ item.date }}</p>
	        </div>
	      {% endfor %}
	    </div>

	    <br>

	  <h2><a href="javascript:toggleDiv('nov16')">November</a></h2>
	    <div class="photos" id="nov16">
	      {% for item in site.data.gallery.nov16 %}
	        <div class="explode">
	          <div class="crop">
	            <a href="#" wait="https://drive.google.com/uc?id={{ item.url | split: '/file/d/' | last | split: '/' | first }}" data-lightbox="nov16" data-title="{{ item.caption }} {{ item.date }} {% if item.credit %} <br><span class='creds'>Credits to {{ item.credit }}</span>{% endif %}">
	              <img class="thumb" src="#" wait="https://drive.google.com/uc?id={{ item.url | split: '/file/d/' | last | split: '/' | first }}" alt="{{ item.caption }}">
	            </a>
	          </div>
	          <p>{{ item.caption }}<br>{{ item.date }}</p>
	        </div>
	      {% endfor %}
	    </div>

	    <br>
	    
	  <h2><a href="javascript:toggleDiv('dec16')">December</a></h2>
	    <div class="photos" id="dec16">
	      {% for item in site.data.gallery.dec16 %}
	        <div class="explode">
	          <div class="crop">
	            <a href="#" wait="https://drive.google.com/uc?id={{ item.url | split: '/file/d/' | last | split: '/' | first }}" data-lightbox="dec16" data-title="{{ item.caption }} {{ item.date }} {% if item.credit %} <br><span class='creds'>Credits to {{ item.credit }}</span>{% endif %}">
	              <img class="thumb" src="#" wait="https://drive.google.com/uc?id={{ item.url | split: '/file/d/' | last | split: '/' | first }}" alt="{{ item.caption }}">
	            </a>
	          </div>
	          <p>{{ item.caption }}<br>{{ item.date }}</p>
	        </div>
	      {% endfor %}
	    </div>

    </div>
  <br>
    
  <h1><a href="javascript:toggleDiv('2017')">2017</a></h1>
  <div id="2017">  
	  <h2><a href="javascript:toggleDiv('jan17')">January</a></h2>
	    <div class="photos" id="jan17">
	      {% for item in site.data.gallery.jan17 %}
	        <div class="explode">
	          <div class="crop">
	            <a href="#" wait="https://drive.google.com/uc?id={{ item.url | split: '/file/d/' | last | split: '/' | first }}" data-lightbox="dec16" data-title="{{ item.caption }} {{ item.date }} {% if item.credit %} <br><span class='creds'>Credits to {{ item.credit }}</span>{% endif %}">
	              <img class="thumb" src="#" wait="https://drive.google.com/uc?id={{ item.url | split: '/file/d/' | last | split: '/' | first }}" alt="{{ item.caption }}">
	            </a>
	          </div>
	          <p>{{ item.caption }}<br>{{ item.date }}</p>
	        </div>
	      {% endfor %}
	    </div>
	  
	  <br>
	    
	  <h2><a href="javascript:toggleDiv('feb17')">February</a></h2>
	    <div class="photos" id="feb17">
	      {% for item in site.data.gallery.feb17 %}
	        <div class="explode">
	          <div class="crop">
	            <a href="#" wait="https://drive.google.com/uc?id={{ item.url | split: '/file/d/' | last | split: '/' | first }}" data-lightbox="dec16" data-title="{{ item.caption }} {{ item.date }} {% if item.credit %} <br><span class='creds'>Credits to {{ item.credit }}</span>{% endif %}">
	              <img class="thumb" src="#" wait="https://drive.google.com/uc?id={{ item.url | split: '/file/d/' | last | split: '/' | first }}" alt="{{ item.caption }}">
	            </a>
	          </div>
	          <p>{{ item.caption }}<br>{{ item.date }}</p>
	        </div>
	      {% endfor %}
	    </div>

   <br>

	  <h2><a href="javascript:toggleDiv('mar17')">March</a></h2>
	    <div class="photos" id="mar17">
	      {% for item in site.data.gallery.mar17 %}
	        <div class="explode">
	          <div class="crop">
	            <a href="#" wait="https://drive.google.com/uc?id={{ item.url | split: '/file/d/' | last | split: '/' | first }}" data-lightbox="mar17" data-title="{{ item.caption }} {{ item.date }} {% if item.credit %} <br><span class='creds'>Credits to {{ item.credit }}</span>{% endif %}">
	              <img class="thumb" src="#" wait="https://drive.google.com/uc?id={{ item.url | split: '/file/d/' | last | split: '/' | first }}" alt="{{ item.caption }}">
	            </a>
	          </div>
	          <p>{{ item.caption }}<br>{{ item.date }}</p>
	        </div>
	      {% endfor %}
	    </div>


   <br>

	  <h2><a href="javascript:toggleDiv('apr17')">April</a></h2>
	    <div class="photos" id="apr17">
	      {% for item in site.data.gallery.apr17 %}
	        <div class="explode">
	          <div class="crop">
	            <a href="#" wait="https://drive.google.com/uc?id={{ item.url | split: '/file/d/' | last | split: '/' | first }}" data-lightbox="apr17" data-title="{{ item.caption }} {{ item.date }} {% if item.credit %} <br><span class='creds'>Credits to {{ item.credit }}</span>{% endif %}">
	              <img class="thumb" src="#" wait="https://drive.google.com/uc?id={{ item.url | split: '/file/d/' | last | split: '/' | first }}" alt="{{ item.caption }}">
	            </a>
	          </div>
	          <p>{{ item.caption }}<br>{{ item.date }}</p>
	        </div>
	      {% endfor %}
	    </div>


   <br>

	  <h2><a href="javascript:toggleDiv('jun17')">June</a></h2>
	    <div class="photos" id="jun17">
	      {% for item in site.data.gallery.jun17 %}
	        <div class="explode">
	          <div class="crop">
	            <a href="#" wait="https://drive.google.com/uc?id={{ item.url | split: '/file/d/' | last | split: '/' | first }}" data-lightbox="jun17" data-title="{{ item.caption }} {{ item.date }} {% if item.credit %} <br><span class='creds'>Credits to {{ item.credit }}</span>{% endif %}">
	              <img class="thumb" src="#" wait="https://drive.google.com/uc?id={{ item.url | split: '/file/d/' | last | split: '/' | first }}" alt="{{ item.caption }}">
	            </a>
	          </div>
	          <p>{{ item.caption }}<br>{{ item.date }}</p>
	        </div>
	      {% endfor %}
	    </div>


   <br>

	  <h2><a href="javascript:toggleDiv('jul17')">July</a></h2>
	    <div class="photos" id="jul17">
	      {% for item in site.data.gallery.jul17 %}
	        <div class="explode">
	          <div class="crop">
	            <a href="#" wait="https://drive.google.com/uc?id={{ item.url | split: '/file/d/' | last | split: '/' | first }}" data-lightbox="jul17" data-title="{{ item.caption }} {{ item.date }} {% if item.credit %} <br><span class='creds'>Credits to {{ item.credit }}</span>{% endif %}">
	              <img class="thumb" src="#" wait="https://drive.google.com/uc?id={{ item.url | split: '/file/d/' | last | split: '/' | first }}" alt="{{ item.caption }}">
	            </a>
	          </div>
	          <p>{{ item.caption }}<br>{{ item.date }}</p>
	        </div>
	      {% endfor %}
	    </div>


   <br>

	  <h2><a href="javascript:toggleDiv('aug17')">August</a></h2>
	    <div class="photos" id="aug17">
	      {% for item in site.data.gallery.aug17 %}
	        <div class="explode">
	          <div class="crop">
	            <a href="#" wait="https://drive.google.com/uc?id={{ item.url | split: '/file/d/' | last | split: '/' | first }}" data-lightbox="aug17" data-title="{{ item.caption }} {{ item.date }} {% if item.credit %} <br><span class='creds'>Credits to {{ item.credit }}</span>{% endif %}">
	              <img class="thumb" src="#" wait="https://drive.google.com/uc?id={{ item.url | split: '/file/d/' | last | split: '/' | first }}" alt="{{ item.caption }}">
	            </a>
	          </div>
	          <p>{{ item.caption }}<br>{{ item.date }}</p>
	        </div>
	      {% endfor %}
	    </div>
	  
	  <h2><a href="javascript:toggleDiv('sep17')">September</a></h2>
	    <div class="photos" id="sep17">
	      {% for item in site.data.gallery.sep17 %}
	        <div class="explode">
	          <div class="crop">
	            <a href="#" wait="https://drive.google.com/uc?id={{ item.url | split: '/file/d/' | last | split: '/' | first }}" data-lightbox="sep17" data-title="{{ item.caption }} {{ item.date }} {% if item.credit %} <br><span class='creds'>Credits to {{ item.credit }}</span>{% endif %}">
	              <img class="thumb" src="#" wait="https://drive.google.com/uc?id={{ item.url | split: '/file/d/' | last | split: '/' | first }}" alt="{{ item.caption }}">
	            </a>
	          </div>
	          <p>{{ item.caption }}<br>{{ item.date }}</p>
	        </div>
	      {% endfor %}
	    </div>
	  
	  <h2><a href="javascript:toggleDiv('oct17')">October</a></h2>
	    <div class="photos" id="oct17">
	      {% for item in site.data.gallery.oct17 %}
	        <div class="explode">
	          <div class="crop">
	            <a href="#" wait="https://drive.google.com/uc?id={{ item.url | split: '/file/d/' | last | split: '/' | first }}" data-lightbox="oct17" data-title="{{ item.caption }} {{ item.date }} {% if item.credit %} <br><span class='creds'>Credits to {{ item.credit }}</span>{% endif %}">
	              <img class="thumb" src="#" wait="https://drive.google.com/uc?id={{ item.url | split: '/file/d/' | last | split: '/' | first }}" alt="{{ item.caption }}">
	            </a>
	          </div>
	          <p>{{ item.caption }}<br>{{ item.date }}</p>
	        </div>
	      {% endfor %}
	    </div>
	  
	  <h2><a href="javascript:toggleDiv('nov17')">November</a></h2>
	    <div class="photos" id="nov17">
	      {% for item in site.data.gallery.nov17 %}
	        <div class="explode">
	          <div class="crop">
	            <a href="#" wait="https://drive.google.com/uc?id={{ item.url | split: '/file/d/' | last | split: '/' | first }}" data-lightbox="nov17" data-title="{{ item.caption }} {{ item.date }} {% if item.credit %} <br><span class='creds'>Credits to {{ item.credit }}</span>{% endif %}">
	              <img class="thumb" src="#" wait="https://drive.google.com/uc?id={{ item.url | split: '/file/d/' | last | split: '/' | first }}" alt="{{ item.caption }}">
	            </a>
	          </div>
	          <p>{{ item.caption }}<br>{{ item.date }}</p>
	        </div>
	      {% endfor %}
	    </div>
	  
	  <h2><a href="javascript:toggleDiv('dec17')">December</a></h2>
	    <div class="photos" id="dec17">
	      {% for item in site.data.gallery.dec17 %}
	        <div class="explode">
	          <div class="crop">
	            <a href="#" wait="https://drive.google.com/uc?id={{ item.url | split: '/file/d/' | last | split: '/' | first }}" data-lightbox="dec17" data-title="{{ item.caption }} {{ item.date }} {% if item.credit %} <br><span class='creds'>Credits to {{ item.credit }}</span>{% endif %}">
	              <img class="thumb" src="#" wait="https://drive.google.com/uc?id={{ item.url | split: '/file/d/' | last | split: '/' | first }}" alt="{{ item.caption }}">
	            </a>
	          </div>
	          <p>{{ item.caption }}<br>{{ item.date }}</p>
	        </div>
	      {% endfor %}
	    </div>
</div>



  <br>
  <br>

  <p style="text-align:center"> Have questions or requests?<a id="contact-email" href="mailto:contact@stuykc.org" data-toggle="tooltip" data-placement="right" title="contact@stuykc.org">Contact us</a> with the subject <i>Website Gallery</i>!</p>
</div>
</body>
