---
layout: page
title: Gallery
---
<style>
.photos {
  display:none;
  float: left;
}
.photos p{
  margin-top: 10px;
  text-align: center;
}
.thumb {
  max-height: 300px;
  max-width: 300px;
}
.explode {
  padding-bottom: 50px;
  height: 240px;
  width: 220px;
  overflow: hidden;
  display: inline-block;
}
.crop {
  height: 200px;
  width: 200px;
  overflow: hidden;
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
}
.explode:hover .crop {
  transform: scale(1.15);
}
.carousel-inner img {
  height: 400px;
}
hr {
  border-color: #036;
}
</style>
<!-- css -->
<link href="../css/lightbox.css" rel="stylesheet">
<!-- scripts -->
<script src="lightbox.js"></script>
<script>
function toggleDiv(divId) {
    $("#"+divId).toggle();
}
</script>
<script>
    lightbox.option({
      'albumLabel': $(this).attr("alt");
    })
</script>

<body>
<div class="container">
  <h3>Highlights</h3>
  <div id="myCarousel" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
          {% for item in site.data.highlights %}
              <div class="{% if forloop.first %}active {% endif %}item">
                  <img src="https://drive.google.com/uc?id={{ item.img | split: '/file/d/' | last | split: '/' | first }}" height="100">
                  <div class="carousel-caption">
                      <h4 style="text-align:center">{{ item.event }}</h4>
                  </div>
              </div>
          {% endfor %}
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>

  <hr>

  <h2><a href="javascript:toggleDiv('jul16')">July</a></h2>
    <div class="photos" id="jul16">
      {% for item in site.data.jul16 %}
        <div class="explode">
          <div class="crop">
            <a href="https://drive.google.com/uc?id={{ item.url | split: '/file/d/' | last | split: '/' | first }}" data-lightbox="jul16" data-title="{{ item.caption }} {{ item.date }}">
              <img class="thumb" src="https://drive.google.com/uc?id={{ item.url | split: '/file/d/' | last | split: '/' | first }}" alt="{{ item.caption }}">
            </a>
          </div>
          <p>{{ item.caption }}<br>{{ item.date }}</p>
        </div>
      {% endfor %}
    </div>
</div>
</body>
