<div class="footer navbar navbar-static-top">
    <div class="container">
          &copy; Stuyvesant Key Club {{ site.time | date: '%Y' }}
          <span style="float:right;margin-right:20px"><a href="/contact/" style="color:#fff">Contact Us</a></span>
    </div>
</div>
<script>
$(document).ready(footerDown);
$(window).resize(footerDown);
function footerDown() {
  if ($('html').height() + (($('.footer').css('position') == 'fixed')? 55:0) < $(window).height()) {
    $('.footer').addClass('footer-fixed');
  }
  else {
    $('.footer').removeClass('footer-fixed');
  }
}
</script>
