<div class="navbar navbar-fixed-top">
  <div class="color-block"></div>
  <div class="navbar-inner peek">
    <div class="container">
      <a class="brand" href="/"><img class="keyclub-navbar-logo" src="/img/logos/keyclub-logo-reversed.png" alt="Key Club Logo"> <span class="logo-text">Stuyvesant Key Club</span><span class="logo-text-small">StuyKC</span></a>
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse" style="box-shadow:0px 0px 0px; background-image:linear-gradient(#036,#036); border:0px none #036;border-radius:0px">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse collapse">
        <ul class="nav pull-right">

          <li class="dropdown{% if page.url contains '/about/' %} active{% endif %}">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/about/">Stuyvesant Key Club</a></li>
              <li><a href="/about/cabinet">&nbsp;&nbsp;&nbsp;&nbsp;The Cabinet</a></li>
              <li><a href="/about/committees/">&nbsp;&nbsp;&nbsp;&nbsp;The Committees</a></li>
              <li><a href="/about/keyclub/">Key Club International</a></li>
            </ul>
          </li>

          <li class="divider-vertical"></li>

          <!--<li{% if page.url == '/resources/index.html' %} class="active"{% endif %}><a href="/resources/">Resources</a></li>-->
          <li  class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="http://stuykc.org/resources/how-to-be-a-good-project-captain.pdf">Project Captain Guide</a></li>
              <li><a href="http://stuykc.org/resources/key-club-event-log.pdf">Event Log</a></li>
              <li><a href="http://stuykc.org/resources/PRF.xlsx">Project Report Form</a></li>
            </ul>
          </li>

          <li class="divider-vertical"></li>

          <li{% if page.url contains '/points/' %} class="active"{% endif %}><a href="/points/">Points</a></li>

          <li class="divider-vertical"></li>

          <li  class="dropdown{% if page.url contains '/events/' %} active{% endif %}">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/events/" style="text-align:center"><b>All Events List</b></a></li>
              <li>
                <div class="visible-desktop">
                  <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=400&amp;wkst=1&amp;bgcolor=%236666cc&amp;src=stuyvesantkeyclub%40gmail.com&amp;color=%2329527A&amp;ctz=America%2FNew_York" style="border-width:0" width="600" height="400" frameborder="0" scrolling="no"></iframe>
                </div>
                <div class="visible-tablet">
                  <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=400&amp;wkst=1&amp;bgcolor=%236666cc&amp;src=stuyvesantkeyclub%40gmail.com&amp;color=%2329527A&amp;ctz=America%2FNew_York" style="border-width:0" width="400" height="400" frameborder="0" scrolling="no"></iframe>
                </div>
                <div class="visible-phone resizeCal">
                  <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%236666cc&amp;src=stuyvesantkeyclub%40gmail.com&amp;color=%2329527A&amp;ctz=America%2FNew_York" style="border-width:0" width="400" height="600" frameborder="0" scrolling="no"></iframe>
                </div>
              </li>
            </ul>
          </li>

          <li class="divider-vertical"></li>

          <li{% if page.url contains '/gallery/' %} class="active"{% endif %}><a href="/gallery/">Gallery</a></li>

          <li class="divider-vertical"></li>

          <!--<li{% if page.url contains '/events/' %} class="active"{% endif %}><a href="/events/">Events</a></li>

          <li class="divider-vertical"></li>-->

          <!--<li><a href="https://www.youtube.com/channel/UCvm5y7Dw6bBwySATMJmK1HQ">YouTube</a></li>

          <li class="divider-vertical"></li>-->

          <!--<li{% if page.url == '/contact/index.html' %} class="active"{% endif %}><a href="/contact/">Contact</a></li>

          <li class="divider-vertical"></li>-->

          <li  class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">News <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="https://www.facebook.com/groups/stuyvesantkeyclub/">Facebook Group</a></li>
              <li><a href="http://www.issuu.com/stuykc">The Locksmith</a></li>
              <li><a href="http://www.issuu.com/li.emily98">The Panda Club</a></li>
              <li><a href="http://www.issuu.com/nydistrictkeyclub">The Empire Key</a></li>
              <li><a href="https://drive.google.com/folderview?id=0B5IWHlY7uVmjU1hiTTJuWFVrUWM&usp=sharing">Governor's Updates</a></li>
              <li><a href="https://www.youtube.com/channel/UCP2nZFD8or4g9vfbLjkTAaQ">NYDKC Youtube Channel</a></li>
            </ul>
          </li>

        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
