<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% unless page.url =='/index.html' %}Stuy KC | {% endunless %}{{ page.title }}</title>
        <meta name="description" content="Stuyvesant Key Club is part of an international organization focused on providing its members with opportunities to provide service, build character, and develop leadership qualities.">
        <meta name="viewport" content="width=device-width">
        <meta name="msvalidate.01" content="4B42B721C8F24A5E99FACCF7ADAD3ED7" />

        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.min.css">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        {% if content contains "<!-- css -->" %}
            {{ content | split: "<!-- css -->" | first }}
        {% endif %}

        <link href='http://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans' rel='stylesheet' type='text/css'>
    </head>
    <body>

        {% include navbar.html %}

        {{ content | split: "<!-- css -->" | last | split: "<!-- scripts -->" | first }}

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/jquery-1.9.1.min.js"><\/script>');</script>
        <script src="/js/bootstrap.min.js"></script>

        {% if content contains "<!-- scripts -->" %}
            {{ content | split: "<!-- scripts -->" | last }}
        {% endif %}

        {% unless page.url contains '/points/' %}{% include footer.html %}{% endunless %}

        <button class="btn btn-danger btn-large" style="position:fixed; bottom:0; left:0; right:0; width: 100%;" onclick="$(body).addClass((Math.random() < .5)? 'barrel-roll':'barrel-roll-backwards'); setTimeout(function(){$(body).removeClass('barrel-roll barrel-roll-backwards')},3100);">BARREL ROLL!?!</button>
        <style type="text/css"> @-webkit-keyframes roll {   from { -webkit-transform: rotate(0deg) }   to { -webkit-transform: rotate(360deg) } } @-moz-keyframes roll {   from { -moz-transform: rotate(0deg) }   to { -moz-transform: rotate(360deg) } } @keyframes roll {   from { transform: rotate(0deg) }   to { transform: rotate(360deg) } } .barrel-roll {   -moz-animation-name: roll;   -moz-animation-duration: 3s;   -moz-animation-iteration-count: 1;   -webkit-animation-name: roll;   -webkit-animation-duration: 3s;   -webkit-animation-iteration-count: 1; }
        @-webkit-keyframes roll-backwards {   from { -webkit-transform: rotate(360deg) }   to { -webkit-transform: rotate(0deg) } } @-moz-keyframes roll-backwards {   from { -moz-transform: rotate(360deg) }   to { -moz-transform: rotate(0deg) } } @keyframes roll-backwards {   from { transform: rotate(360deg) }   to { transform: rotate(0deg) } } .barrel-roll-backwards {   -moz-animation-name: roll-backwards;   -moz-animation-duration: 3s;   -moz-animation-iteration-count: 1;   -webkit-animation-name: roll-backwards;   -webkit-animation-duration: 3s;   -webkit-animation-iteration-count: 1; } </style>

        <script type="text/javascript">var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-40677232-1']); _gaq.push(['_trackPageview']); (function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();</script>
    </body>
</html>        
