---
layout: page
---
{% if content contains "<!-- css -->" %}
    {{ content | split: "<!-- css -->" | first }} <!-- css -->
{% endif %}
<div class="event-preview">
    <div class="event-info">
        <table class="clearfix">
            <tbody><tr>
            {% if page.dates %}
                <td>Dates:&nbsp;</td>
                <td>
                {% for date in page.dates %}
                    {{ date }}<br>
                {% endfor %}
                </td>
            {% else %}
                <td>Date:&nbsp;</td>
                <td>{{ page.date | date: "%a, %B %d, %Y"}}{% if page.time %} ({{ page.time }}){% endif %}</td>
            {% endif %}
            </tr></tbody>
        </table>
        <table class="clearfix">
            <tbody><tr>
            {% if page.locations %}
                <td>Locations:&nbsp;</td>
                <td>
                {% for location in page.locations %}
                    {{ location }}<br>
                {% endfor %}
                </td>
            {% else %}
                <td>Location:&nbsp;</td>
                <td>{{ page.location }}</td>
            {% endif %}
            </tr></tbody>
        </table>
    </div>
    {{ content | split: "<!-- css -->" | last }}
    {% if page.link %}
    <span class="event-info">Sign up here:</span> <a href="{{ page.link }}">{{ page.link }}</a>
    {% endif %}
</div>
