---
layout: page
---
{% if content contains "<!-- event-css -->" %}
    {{ content | split: "<!-- event-css -->" | first }} <!-- css -->
{% endif %}
<div class="event-preview">
    <div class="event-info">
        <table class="clearfix">
            <tbody><tr>
            {% if page.dates %}
                <td>Dates:&nbsp;</td>
                <td>
                {% for date in page.dates %}
                    {{ date }}<br>
                {% endfor %}
                </td>
            {% else %}
                <td>Date:&nbsp;</td>
                <td>{{ page.date | date: "%a, %B %-d, %Y"}}{% if page.time %} ({{ page.time }}){% endif %}</td>
            {% endif %}
            </tr></tbody>
        </table>
        <table class="clearfix">
            <tbody><tr>
            {% if page.locations %}
                <td>Locations:&nbsp;</td>
                <td>
                {% for location in page.locations %}
                    {{ location }}<br>
                {% endfor %}
                </td>
            {% else %}
                <td>Location:&nbsp;</td>
                <td>{{ page.location }}</td>
            {% endif %}
            </tr></tbody>
        </table>
    </div>
    {{ content | split: "<!-- event-css -->" | last | split: "<!-- event-scripts -->" | first }}

    {% if page.links %}
    <span class="event-info">Sign up
      {% for link in page.links %}
        {% if page.links[0] == link %}
        <a href="{{ link }}">here</a>
        {% else %}
        and <a href="{{ link }}">here</a>
        {% endif %}
      {% endfor %}
    !</span>
    {% endif %}
    {% if page.link %}
    <span class="event-info">Sign up <a href="{{ page.link }}">here</a>!</span>
    {% endif %}
</div>
{% if content contains "<!-- event-scripts -->" %}
    <!-- scripts --> {{ content | split: "<!-- event-scripts -->" | last }}
{% endif %}
